{{> header}}

<div>
    {{#metadata}}
        <h1>{{title}}</h1>
        <span>{{{description}}}</span>
        <br/>
        <br/>

        {{#version}}
            <div class="row my-3">
                <div class="col-md-2 font-weight-bold">{{versionTitle}}</div>
                <div class="col-md-10">
                    <ul class="list-unstyled">
                        <li>{{.}}</li>
                    </ul>
                </div>
            </div>
        {{/version}}

        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{idTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    <li>{{id}}</li>
                </ul>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{titleTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    <li>{{title}}</li>
                </ul>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{keywordsTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    {{#keywords}}
                        <li>{{.}}</li>
                    {{/keywords}}
                    {{^keywords}}
                        <li>{{none}}</li>
                    {{/keywords}}
                </ul>
            </div>
        </div>

        {{#pointOfContact}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{pointOfContactTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    <li>{{.}}</li>
                </ul>
            </div>
        </div>
        {{/pointOfContact}}

        {{#thumbnail}}
            <div class="row my-3">
                <div class="col-md-2 font-weight-bold">{{thumbnailTitle}}</div>
                <div class="col-md-10">
                    <img src="{{href}}" alt="{{title}}"/>
                </div>
            </div>
        {{/thumbnail}}

        {{#dates}}
            <div class="row my-3">
                <div class="col-md-2 font-weight-bold">{{datesTitle}}</div>
                <div class="col-md-10">
                    <ul class="list-unstyled">
                        {{#creation}}<li>{{.}} ({{creationTitle}})</li>{{/creation}}
                        {{#publication}}<li>{{.}} ({{publicationTitle}})</li>{{/publication}}
                        {{#revision}}<li>{{.}} ({{revisionTitle}})</li>{{/revision}}
                        {{#validTill}}<li>{{.}} ({{validTillTitle}})</li>{{/validTill}}
                        {{#receivedOn}}<li>{{.}} ({{receivedOnTitle}})</li>{{/receivedOn}}
                    </ul>
                </div>
            </div>
        {{/dates}}

        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{additionalLinksTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    {{#additionalLinks}}
                        <li>
                            <a itemprop="url" href="{{href}}">{{title}}</a>
                        </li>
                    {{/additionalLinks}}
                    {{^additionalLinks}}
                        <li>{{none}}</li>
                    {{/additionalLinks}}
                </ul>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{stylesheetsTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    {{#stylesheets}}
                        <li>
                            {{#title}}{{.}}{{/title}}{{^title}}?{{/title}}
                            <ul>
                                {{#specification}}<li>{{specificationTitle}}: {{.}}</li>{{/specification}}
                                {{#version}}<li>{{versionTitle}}: {{.}}</li>{{/version}}
                                <li>{{nativeTitle}}: {{#native_}}{{trueTitle}}{{/native_}}{{^native_}}{{falseTitle}}{{/native_}}</li>
                            </ul>
                            <br/>
                        </li>
                    {{/stylesheets}}
                    {{^stylesheets}}
                        <li>{{none}}</li>
                    {{/stylesheets}}
                </ul>
            </div>
        </div>

        {{#hasLayers}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{layersTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    {{#layers}}
                        <li>
                            {{id}}
                            <ul>
                                {{#type}}
                                    <li>{{layerTypeTitle}}: {{.}}</li>
                                {{/type}}
                                {{#attributeList}}
                                    <li>{{attributesTitle}}: {{.}}</li>
                                {{/attributeList}}
                                {{#sampleData}}
                                    <li><a itemprop="url" href="{{href}}" target="_blank">{{#title}}{{.}}{{/title}}{{^title}}{{sampleDataTitle}}{{/title}}</a></li>
                                {{/sampleData}}
                            </ul>
                            <br/>
                        </li>
                    {{/layers}}
                    {{^layers}}
                        <li>{{none}}</li>
                    {{/layers}}
                </ul>
            </div>
        </div>
        {{/hasLayers}}

    {{/metadata}}
</div>

{{> footer}}
