        </div>

        <footer class="footer bg-light py-4 d-flex flex-column justify-content-around align-items-center">
	        <div class="">
	        	<span><span class="text-muted small mr-2">powered by</span><a class="navbar-brand" href="https://interactive-instruments.github.io/ldproxy/ " target="_blank">ldproxy</a></span>
	        </div>
        </footer>

    </body>
</html>
