{{> header}}

<div>
    <h1>{{title}}</h1>
    <div>{{{description}}}</div>
    <br/>
    <h2>{{mainLinksTitle}}</h2>

    {{#data}}
    <div class="row my-1">
        <div class="col-md-12  text-truncate"><big><a href="{{href}}">{{title}}</a></big></div>
    </div>
    {{/data}}
    {{#map}}
        <div class="row my-1">
            <div class="col-md-12  text-truncate"><big><a href="{{href}}">{{title}}</a></big></div>
        </div>
    {{/map}}
    {{#tiles}}
    <div class="row my-1">
        <div class="col-md-12  text-truncate"><big><a href="{{href}}">{{title}}</a></big></div>
    </div>
    {{/tiles}}
    {{#styles}}
    <div class="row my-1">
        <div class="col-md-12  text-truncate"><big><a href="{{href}}">{{title}}</a></big></div>
    </div>
    {{/styles}}
    {{#dapa}}
    <div class="row my-1">
        <div class="col-md-12  text-truncate"><big><a href="{{href}}">{{title}}</a></big></div>
    </div>
    {{/dapa}}
    <br/>

    <h2>{{apiInformationTitle}}</h2>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{apiDocumentationTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#apiDefinition}}
                    <li>
                        <a href="{{href}}" target="_blank">{{title}}</a>
                    </li>
                {{/apiDefinition}}
                {{#apiDocumentation}}
                    <li>
                        <a href="{{href}}" target="_blank">{{title}}</a>
                    </li>
                {{/apiDocumentation}}
            </ul>
        </div>
    </div>

    {{#externalDocs}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{externalDocsTitle}}</div>
            <div class="col-md-10">
                <span><a href="{{url}}">{{#description}}{{{.}}}{{/description}}{{^description}}{{url}}{{/description}}</a></span>
            </div>
        </div>
    {{/externalDocs}}

    {{#metadata}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{providerTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled" itemprop="creator" itemscope itemtype="http://schema.org/Organization">
                    {{#contactName}}
                        <li>{{{.}}}</li>
                    {{/contactName}}
                    {{#contactUrl}}
                        <li><a href="{{.}}" target="_blank">{{.}}</a></li>
                    {{/contactUrl}}
                    <li>
                        <ul class="list-unstyled">
                            {{#contactEmail}}
                                <li>{{.}}</li>
                            {{/contactEmail}}
                            {{#contactPhone}}
                                <li>{{.}}</li>
                            {{/contactPhone}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {{#licenseName}}
            <div class="row my-3">
                <div class="col-md-2 font-weight-bold">{{licenseTitle}}</div>
                <div class="col-md-10">
                    <ul class="list-unstyled">
                        <li>{{{.}}}</li>
                        {{#licenseUrl}}
                        <li><a href="{{.}}">{{.}}</a></li>
                        {{/licenseUrl}}
                    </ul>
                </div>
            </div>
        {{/licenseName}}
        {{^licenseName}}
            {{#licenseUrl}}
            <div class="row my-3">
                <div class="col-md-2 font-weight-bold">{{licenseTitle}}</div>
                <div class="col-md-10">
                    <ul class="list-unstyled">
                        <li><a href="{{.}}">{{.}}</a></li>
                    </ul>
                </div>
            </div>
            {{/licenseUrl}}
        {{/licenseName}}
    {{/metadata}}

    {{#bbox2}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{spatialExtentTitle}}</div>
            {{^hideMap}}
                <div class="col-md-10">
                    <div id="map"></div>
                </div>
            {{/hideMap}}
            {{#hideMap}}
                <div class="col-md-10">
                    <ul class="list-unstyled">
                        <li>
                            [ [ {{minLon}}, {{minLat}} ], [ {{maxLon}}, {{maxLat}} ] ]
                        </li>
                    </ul>
                </div>
            {{/hideMap}}
        </div>
    {{/bbox2}}

    {{#temporalExtent}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{temporalExtentTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    <li>
                        <span id="timeInterval"></span>
                    </li>
                </ul>
            </div>
        </div>
    {{/temporalExtent}}

    <h2>{{expertInformationTitle}}</h2>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{additionalLinksTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#links}}
                    <li>
                        <a href="{{href}}">{{title}}</a>
                    </li>
                {{/links}}
                {{^links}}
                    <li>{{none}}</li>
                {{/links}}
            </ul>
        </div>
    </div>

    {{#orderedSections}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{title}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    {{#links}}
                        <li>
                            <a href="{{url}}" {{#target}}target="{{.}}"{{/target}}>{{title}}</a>
                        </li>
                    {{/links}}
                    {{^links}}
                        <li>{{none}}</li>
                    {{/links}}
                </ul>
            </div>
        </div>
    {{/orderedSections}}

    {{#dataSourceUrl}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{dataSourceTitle}}</div>
            <div class="col-md-10">
                <a href="{{.}}" target="_blank">{{.}}</a>
            </div>
        </div>
    {{/dataSourceUrl}}

</div>

{{> script}}

<script src="{{urlPrefix}}/app/js/bbox.js" defer></script>
<script src="{{urlPrefix}}/app/js/date.js" defer></script>

{{> footer}}
