{{> header}}

{{#tileMatrixSet}}
<div>
    <h1>{{title}}</h1>
    <span>{{{abstract}}}</span>
    <br/>
    <br/>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{idTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                <li>{{id}}</li>
            </ul>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{supportedCrsTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                <li><a href="{{crs}}" target="_blank">{{crs}}</a></li>
            </ul>
        </div>
    </div>

    {{#wellKnownScaleSet}}
    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{wellKnownScaleSetTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                <li><a href="{{.}}" target="_blank">{{.}}</a></li>
            </ul>
        </div>
    </div>
    {{/wellKnownScaleSet}}

    {{#boundingBox}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{boundingBoxTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    <li>( {{#lowerLeft}}{{.}} {{/lowerLeft}}), ( {{#upperRight}}{{.}} {{/upperRight}})</li>
                    {{#crs}}<li><a href="{{.}}" target="_blank">{{.}}</a></li>{{/crs}}
                </ul>
            </div>
        </div>
    {{/boundingBox}}

    <div class="row my-3">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col" class="text-right">{{idTitle}}</th>
                <th scope="col" class="text-right">{{scaleDenominatorTitle}}</th>
                <th scope="col" class="text-right">{{cellSizeTitle}}</th>
                <th scope="col" class="text-right">{{cornerOfOriginTitle}}</th>
                <th scope="col" colspan="2" class="text-center">{{pointOfOriginTitle}}</th>
                <th scope="col" class="text-right">{{tileWidthTitle}}</th>
                <th scope="col" class="text-right">{{tileHeightTitle}}</th>
                <th scope="col" class="text-right">{{matrixWidthTitle}}</th>
                <th scope="col" class="text-right">{{matrixHeightTitle}}</th>
            </tr>
            </thead>
            <tbody>
            {{#tileMatrices}}
                <tr>
                    <td class="text-right">{{id}}</td>
                    <td class="text-right">{{scaleDenominator}}</td>
                    <td class="text-right">{{cellSize}}</td>
                    <td class="text-right">{{cornerOfOrigin}}</td>
                    {{#pointOfOrigin}}
                        <td class="text-right">{{.}}</td>
                    {{/pointOfOrigin}}
                    <td class="text-right">{{tileWidth}}</td>
                    <td class="text-right">{{tileHeight}}</td>
                    <td class="text-right">{{matrixWidth}}</td>
                    <td class="text-right">{{matrixHeight}}</td>
                </tr>
            {{/tileMatrices}}
            </tbody>
        </table>
    </div>
</div>
{{/tileMatrixSet}}

{{> footer}}

