{{> header}}

<div>
    <h1>{{title}}</h1>
    <span>{{{description}}}</span>
    <br/>
    <br/>
    <span>{{{tilesetDescription}}}</span>
    <br/>
    <br/>
    <span id="howToUse">{{{howToUse}}}</span>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{tileMatrixSetTitle}}</div>
        <div class="col-md-10">
            <select id="tilingScheme" onchange="setTilingScheme()">
                {{#tileCollections}}<option value="{{tileMatrixSet}}">{{tileMatrixSet}}</option>{{/tileCollections}}
            </select>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{templateTitle}}</div>
        <div class="col-md-10">{{xyzTemplate}}</div>
    </div>

    {{#tileJsonLink}}
    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{metadataTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                <li>
                    <a id="tilejson" href="{{{.}}}?f=tilejson" target="_blank">{{tileJsonTitle}}</a>
                </li>
            </ul>
        </div>
    </div>
    {{/tileJsonLink}}

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{mapTitle}}</div>
        <div class="col-md-10">
            <div id="map" class="map-md"></div>
        </div>
    </div>
</div>

{{> app-common}}

{{> mapClient}}

{{> footer}}
