{{> header}}

{{#tileMatrixSet}}
<div>
    <h1>{{title}}</h1>
    <span>{{{abstract}}}</span>
    <br/>
    <br/>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{idTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                <li>{{identifier}}</li>
                {{#wellKnownScaleSet}}<li><a href="{{.}}" target="_blank">{{.}}</a></li>{{/wellKnownScaleSet}}
            </ul>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{supportedCrsTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                <li><a href="{{supportedCRS}}" target="_blank">{{supportedCRS}}</a></li>
            </ul>
        </div>
    </div>

    {{#boundingBox}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{boundingBoxTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    <li>({{#lowerCorner}}{{.}} {{/lowerCorner}}), ({{#upperCorner}}{{.}} {{/upperCorner}})</li>
                    {{#crs}}<li><a href="{{.}}" target="_blank">{{.}}</a></li>{{/crs}}
                </ul>
            </div>
        </div>
    {{/boundingBox}}

    <div class="row my-3">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col" class="text-right">{{idTitle}}</th>
                <th scope="col" class="text-right">{{scaleDenominatorTitle}}</th>
                <th scope="col" colspan="2" class="text-center">{{topLeftCornerTitle}}</th>
                <th scope="col" class="text-right">{{tileWidthTitle}}</th>
                <th scope="col" class="text-right">{{tileHeightTitle}}</th>
                <th scope="col" class="text-right">{{matrixWidthTitle}}</th>
                <th scope="col" class="text-right">{{matrixHeightTitle}}</th>
            </tr>
            </thead>
            <tbody>
            {{#tileMatrix}}
                <tr>
                    <td class="text-right">{{identifier}}</td>
                    <td class="text-right">{{scaleDenominator}}</td>
                    {{#topLeftCorner}}
                        <td class="text-right">{{.}}</td>
                    {{/topLeftCorner}}
                    <td class="text-right">{{tileWidth}}</td>
                    <td class="text-right">{{tileHeight}}</td>
                    <td class="text-right">{{matrixWidth}}</td>
                    <td class="text-right">{{matrixHeight}}</td>
                </tr>
            {{/tileMatrix}}
            </tbody>
        </table>
    </div>
</div>
{{/tileMatrixSet}}

{{> footer}}

