{{> header}}

<div>
    <h1>{{title}}</h1>
    <span>{{{description}}}</span>
    <br/>
    <br/>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{title}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#styleEntries}}
                    <li>
                        {{#title}}{{.}} ({{id}}){{/title}}{{^title}}{{id}}{{/title}}
                        <ul>
                            {{#linksSorted}}
                                <li class="list-unstyled"><a href="{{href}}" target="_blank">{{title}}</a></li>
                            {{/linksSorted}}
                        </ul>
                        <br/>
                    </li>
                {{/styleEntries}}
                {{^styleEntries}}
                    <li>{{none}}</li>
                {{/styleEntries}}
            </ul>
        </div>
    </div>
</div>

{{> footer}}

