html {
    position: relative;
    min-height: 100%;
}

body.with-footer {
    /* Margin bottom by footer height */
    margin-bottom: 288px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 288px;
}

.list-comma-separated {
    padding: 0;
    margin: 0;
}
.list-comma-separated li {
    display: inline;
}
.list-comma-separated li:not(:last-of-type)::after {
    content: ', ';
}

.list-separated {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.list-separated li:not(:last-of-type)::after {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    content: '|';
}

.space-after li {
    margin-bottom: 5em;
}

[data-toggle='collapse'].collapsed .if-not-collapsed {
    display: none;
}
[data-toggle='collapse']:not(.collapsed) .if-collapsed {
    display: none;
}

table {
    border-collapse: collapse;
}

tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td:first-child {
    padding-right: 15px;
}

.object-separator {
    font-size: 0.5em;
}
.pl-4x,
.px-4x {
    padding-left: 2rem !important;
}
.pr-4x,
.px-4x {
    padding-right: 2rem !important;
}
.pl-5x,
.px-5x {
    padding-left: 4rem !important;
}
.pr-5x,
.px-5x {
    padding-right: 4rem !important;
}
.pl-5xx,
.px-5xx {
    padding-left: 5rem !important;
}
.pr-5xx,
.px-5xx {
    padding-right: 5rem !important;
}

.icon-info {
    width: 0.7rem;
    height: 1rem;
    margin-left: -0.95rem;
    margin-right: 0.25rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    content: "";
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%236c757d' xmlns='http://www.w3.org/2000/svg'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
    background-repeat: no-repeat;
    background-size: 0.7rem 0.7rem;
    background-position: center;
}
