<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#noIndex}}
    <meta name="robots" content="noindex" />
    {{/noIndex}}
    {{#googleSiteVerification}}
    <meta name="google-site-verification" content="{{.}}" />
    {{/googleSiteVerification}}

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    {{#keywords}}
    <meta name="keywords" content="{{.}}">
    {{/keywords}}
    <link rel="shortcut icon" type="image/x-icon" href="{{urlPrefix}}/app/img/favicon.ico">

    {{#canonicalUrl}}
    <link rel="canonical" href="{{.}}"/>
    {{/canonicalUrl}}

    {{#metaPagination}}
        {{#url}}
            <link rel="{{label}}" href="{{path}}{{#queryWithout}}limit,offset{{/queryWithout}}{{.}}"/>
        {{/url}}
    {{/metaPagination}}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
    <link rel="stylesheet" href="{{urlPrefix}}/app/css/app4.css"/>
    {{#withOlMap}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v5.3.0/css/ol.css" type="text/css"/>
    <style>
    .map {
        width: 100%;
        height: 600px;
        position: relative;
        background: #f8f4f0;
    }

    .info {
        z-index: 1;
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: 0;
        transition: opacity 100ms ease-in;
    }
    </style>
    {{/withOlMap}}
    <style>
    .object-separator {
        font-size: 0.5em;
    }
    .pl-4x, .px-4x {
        padding-left: 2rem!important;
    }
    .pr-4x, .px-4x {
        padding-right: 2rem!important;
    }
    .pl-5x, .px-5x {
        padding-left: 4rem!important;
    }
    .pr-5x, .px-5x {
        padding-right: 4rem!important;
    }
    .pl-5xx, .px-5xx {
        padding-left: 5rem!important;
    }
    .pr-5xx, .px-5xx {
        padding-right: 5rem!important;
    }
    </style>

{{#features}}{{#schemaOrgItemType}}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "{{schemaOrgItemType}}",
  {{#persistentUri}}"sameAs": "{{.}}",{{/persistentUri}}
  "url": "{{#currentUrlWithSegmentClearParams}}{{id}}{{/currentUrlWithSegmentClearParams}}",
  {{#geoAsString}}"geo": {{{.}}},{{/geoAsString}}
  {{#properties}}{{#itemProp}}"{{.}}": "{{{getFirstValue}}}", {{/itemProp}}{{/properties}}
  "name": "{{name}}"
}
</script>
{{/schemaOrgItemType}}{{/features}}
{{#isApiCatalog}}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "DataCatalog",
  "name": "{{title}}",
  "description": "{{{description}}}",
  "url": "{{canonicalUrl}}",
  "dataset": [{{{datasetsAsString}}}]
}
</script>
{{/isApiCatalog}}
{{#isDataset}}
<script type="application/ld+json">
{{{schemaOrgDataset}}}
</script>
{{/isDataset}}
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-light navbar-expand-sm">   
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse d-flex justify-content-between align-items-center">
            <ol class="breadcrumb bg-light my-0 pl-0">
                    {{#breadCrumbs}}
                        {{#url}}
                            <li class="breadcrumb-item"><a href="{{.}}">{{label}}</a></li>
                        {{/url}}
                        {{^url}}
                            <li class="breadcrumb-item active">{{label}}</li>
                        {{/url}}
                    {{/breadCrumbs}}
            </ol>
            <ul class="list-separated m-0 p-0 text-muted">
                    {{#formats}}
                        <li><a href="{{url}}" target="_blank">{{label}}</a></li>
                    {{/formats}}
            </ul>            
        </div>

            <!--button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button-->

    </div>
</nav>

<div class="container py-4">
