{{> header}}

<div>
    <h1>{{title}}</h1>
    <p>{{{description}}}</p>
    <br/>
    <br/>
    <br/>

    <ul class="list-unstyled space-after">
        {{#data}}
        <li>
            <h2>
                <a href="{{landingPageUri}}">
                    <span>{{title}}</span>
                </a>
            </h2>
            <div>{{{description}}}</div>
        </li>
        {{/data}}
        {{^data}}
        <li>None</li>
        {{/data}}
    </ul>

</div>

{{> footer}}
