{{> header}}

<div>
    <h1>{{title}}</h1>
    <div class="row my-1">
        <div class="col-md-12">{{{description}}}</div>
    </div>
    <br/>

    {{#processes}}
        <h4>{{id}} <small>— {{title}}</small></h4>
        <div class="row my-1">
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <li>{{{description}}}</li>
                    <li class="pt-2">{{mediaTypesTitle}}: {{mediaTypes}}</li>
                    {{#dapaEndpointLink}}<li class="pt-2"><a href="{{href}}" target="_blank">{{title}}</a></li>{{/dapaEndpointLink}}
                    {{#descriptionLink}}<li class="pt-2"><a href="{{href}}" target="_blank">{{title}}</a></li>{{/descriptionLink}}
                    {{#externalDocs}}<li class="pt-2"><a href="{{url}}" target="_blank">{{#description}}{{{.}}}{{/description}}{{^description}}{{url}}{{/description}}</a></li>{{/externalDocs}}
                </ul>
            </div>
        </div>
    {{/processes}}
    {{^processes}}
        <div>{{none}}</div>
    {{/processes}}
</div>

{{> footer}}

