        </div>

        <footer class="footer bg-light py-4 d-flex flex-column justify-content-around align-items-center">
            {{#htmlConfig}}
            {{#footerText}}
                <div class="container text-muted text-center">
                    {{{.}}}
                </div>
            {{/footerText}}
            {{/htmlConfig}}
	        <div class="container d-flex flex-row justify-content-between align-items-center w-100">
	            {{> brand}}
                <span>
                {{#htmlConfig}}
                {{#legalUrl}}
                    <span><a class="small mr-2" href="{{.}}" target="_blank">{{legalName}}</a></span>
                {{/legalUrl}}
                {{#privacyUrl}}
                    <span><a class="small" href="{{.}}" target="_blank">{{privacyName}}</a></span>
                {{/privacyUrl}}
                {{/htmlConfig}}
                </span>
	        </div>
        </footer>

    </body>

    {{#withOlMap}}
    <script>
    {{#styles}}
    {{#sections}}
    {{#mapboxStyleUrl}}
    var map_{{styleId}} = olms.apply('map-container-{{styleId}}', '{{{.}}}');
    const extent_{{styleId}} = ol.proj.transformExtent(window._ldproxy.ol_map.extent, 'EPSG:4326', 'EPSG:3857');
    map_{{styleId}}.getView().fit(extent_{{styleId}}, map_{{styleId}}.getSize());
    {{/mapboxStyleUrl}}
    {{/sections}}
    {{/styles}}
    {{^styles}}
      const template = "{{{tilesUrl}}}";
      const defaultStyle = function(feature, res) {
            return new ol.style.Style({
                stroke: new ol.style.Stroke({
                    width: 1,
                    color: 'rgba(0, 102, 204, 0.9)'
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(0, 102, 204, 0.3)'
                }),
                image: new ol.style.Circle({
                    radius: 3,
                    fill: new ol.style.Fill({
                        color: 'rgba(0, 102, 204, 0.6)'
                    }),
                    stroke: new ol.style.Stroke({
                        width: 2,
                        color: 'rgba(0, 102, 204, 0.9)'
                    })
                })
            })
        }
        proj4.defs('EPSG:3395', '+proj=merc +lon_0=0 +k=1 +x_0=0 +y_0=0 +datum=WGS84 +units=m +no_defs');
        ol.proj.proj4.register(proj4);
        ol.proj.get('EPSG:3395').setExtent([-20037508.342789244, -20037508.342789244, 20037508.342789244, 20037508.342789244]);
		var baseLayer = new ol.layer.Tile({
							source: new ol.source.XYZ({
								attributions: window._ldproxy.ol_map.attribution,
								url: window._ldproxy.ol_map.url
							})
						});
		var map = new ol.Map({
			target: 'map-container',
					view: new ol.View({
						projection: 'EPSG:3857',
					}),
					layers: [ baseLayer ]
		});

		var info = document.getElementById('info');
		map.on('pointermove', showInfo);

      {{#tileCollections}}
        var tilesUrl{{tileMatrixSet}} = template.replace("{tileMatrixSetId}","{{tileMatrixSet}}").replace("{tileMatrix}","{z}").replace("{tileRow}","{y}").replace("{tileCol}","{x}")

        var maxLevel{{tileMatrixSet}} = {{maxLevel}};
        var maxResolution = {{resolutionAt0}};
        var resolutions{{tileMatrixSet}} = new Array(maxLevel{{tileMatrixSet}}+1);
        for (var i = 0; i <= maxLevel{{tileMatrixSet}}; ++i) {
            resolutions{{tileMatrixSet}}[i] = maxResolution / Math.pow(2, i);
        }

        var sizes{{tileMatrixSet}} = new Array(maxLevel{{tileMatrixSet}}+1);
        for (var i = 0; i <= maxLevel{{tileMatrixSet}}; ++i) {
            sizes{{tileMatrixSet}}[i] = [ {{widthAtL0}} * Math.pow(2, i), Math.pow(2, i) ] ;
        }

        var tileGrid{{tileMatrixSet}} = new ol.tilegrid.TileGrid({
            extent: {{extent}},
            resolutions: resolutions{{tileMatrixSet}},
            sizes: sizes{{tileMatrixSet}}
        });

		var tilesUrl{{tileMatrixSet}} = template.replace("{tileMatrixSetId}","{{tileMatrixSet}}").replace("{tileMatrix}","{z}").replace("{tileRow}","{y}").replace("{tileCol}","{x}");

        {{#tileJsonLink}}
		var tileJsonUrl{{tileMatrixSet}} = "{{href}}".replace("{tileMatrixSetId}","{{tileMatrixSet}}");
        {{/tileJsonLink}}

		var view{{tileMatrixSet}} = new ol.View({
							projection: '{{projection}}'
						});

		var layer{{tileMatrixSet}} = new ol.layer.VectorTile({
								declutter: true,
								title: "Vector Tiles",
								source: new ol.source.VectorTile({
									format: new ol.format.MVT(),
									maxZoom: maxLevel{{tileMatrixSet}},
									projection: '{{projection}}',
									tileGrid: tileGrid{{tileMatrixSet}},
									url: tilesUrl{{tileMatrixSet}}
								}),
								style: defaultStyle
							});
        const extent{{tileMatrixSet}} = ol.proj.transformExtent(window._ldproxy.ol_map.extent, 'EPSG:4326', '{{projection}}');
        const center{{tileMatrixSet}} = ol.proj.fromLonLat([ {{defaultCenterLon}}, {{defaultCenterLat}} ], '{{projection}}');
		const zoom{{tileMatrixSet}} = {{defaultZoomLevel}};

    {{/tileCollections}}
    {{^tileCollections}}
         var tilesUrl = template.replace("{tileMatrixSetId}","WebMercatorQuad").replace("{tileMatrix}","{z}").replace("{tileRow}","{y}").replace("{tileCol}","{x}")
         var map = new ol.Map({
            target: 'map-container',
                    view: new ol.View({
                    }),
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.XYZ({
                                attributions: window._ldproxy.ol_map.attribution,
                                url: window._ldproxy.ol_map.url
                            })
                        }),
                        new ol.layer.VectorTile({
                            declutter: true,
                            title: "Vector Tiles",
                            source: new ol.source.VectorTile({
                                format: new ol.format.MVT(),
                                url: tilesUrl
                            }),
                            style: defaultStyle
                        })
                    ]
        });
        const extent = ol.proj.transformExtent(window._ldproxy.ol_map.extent, 'EPSG:4326', 'EPSG:3857');
        map.getView().fit(extent, map.getSize());

        map.on('pointermove', showInfo);
        var info = document.getElementById('info');
        function showInfo(event) {
            var features = map.getFeaturesAtPixel(event.pixel);
            if (!features) {
                info.innerText = '';
                info.style.opacity = 0;
                return;
            }
            if (features[0]) {
                var id = features[0].getId();
                var properties = features[0].getProperties();
                if (id) {
                    properties.id = id;
                }
                info.innerText = JSON.stringify(properties, null, 2);
                info.style.opacity = 1;
            }
        }
    {{/tileCollections}}

		setTilingScheme();

		function setTilingScheme() {
		  var val = document.getElementById("tilingScheme").value;
    {{#tileCollections}}
		  if (val === "{{tileMatrixSet}}") {
			map.setView(view{{tileMatrixSet}});
			map.getLayers().setAt(1, layer{{tileMatrixSet}});
			map.getView().setCenter(center{{tileMatrixSet}})
			map.getView().setZoom(zoom{{tileMatrixSet}});
			// map.getView().fit(extent{{tileMatrixSet}}, map.getSize());
            tilejson.href = tileJsonUrl{{tileMatrixSet}};
		  }
    {{/tileCollections}}
		  info.innerText = '';
		  info.style.opacity = 0;
		}

        function showInfo(event) {
            var features = map.getFeaturesAtPixel(event.pixel);
            if (!features) {
                info.innerText = '';
                info.style.opacity = 0;
                return;
            }
            if (features[0]) {
                var id = features[0].getId();
                var properties = features[0].getProperties();
                if (id) {
                    properties.id = id;
                }
                info.innerText = JSON.stringify(properties, null, 2);
                info.style.opacity = 1;
            }
        }
    {{/styles}}
    </script>
    {{/withOlMap}}
</html>
