{{> header}}

<div>
    <h1>{{title}}</h1>
    <span>{{{description}}}</span>
    <br/>
    <br/>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{tileMatrixSetTitle}}</div>
        <div class="col-md-10">
            <select id="tilingScheme" onchange="setTilingScheme()">
                {{#tileCollections}}<option value="{{tileMatrixSet}}">{{tileMatrixSet}}</option>{{/tileCollections}}
            </select>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{metadataTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#tileJsonLink}}
                    <li>
                        <a id="tilejson" href="{{href}}" target="_blank">{{title}}</a>
                    </li>
                {{/tileJsonLink}}
                {{^links}}
                    <li>{{none}}</li>
                {{/links}}
            </ul>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{mapTitle}}</div>
        <div class="col-md-10">
            <div id="map-container" class="map">
                <small><span id="info" class="info"></small>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.1.1/build/ol.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/ol-mapbox-style@v4.3.1/dist/olms.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.0/proj4.js"></script>
</div>
{{> script}}

{{> footer}}