{{#hasValues}}
<div class="row my-1">
<div class="col-md-{{#isMapRight}}6{{/isMapRight}}{{^isMapRight}}4{{/isMapRight}} {{#isLevel2}}pl-4x {{/isLevel2}}{{#isLevel3}}pl-5 {{/isLevel3}}{{#isLevel4}}pl-5x {{/isLevel4}}{{#isLevel5}}pl-5xx {{/isLevel5}}font-weight-bold text-truncate">{{name}}</div>
<div class="col-md-{{#isMapRight}}6{{/isMapRight}}{{^isMapRight}}8{{/isMapRight}}">
<ul class="list-unstyled">
{{#values}}
{{^isNull}}
<li>{{#isImageUrl}}<img src="{{value}}" class="img-fluid"/>{{/isImageUrl}}{{^isImageUrl}}{{#isUrl}}<div class="text-truncate"><a target="_blank" href="{{value}}">{{value}}</a></div>{{/isUrl}}{{^isUrl}}{{{value}}}{{/isUrl}}{{/isImageUrl}}</li>
{{/isNull}}
{{/values}}
</ul>
</div>
</div>
{{/hasValues}}
{{^hasValues}}
{{#isObject}}
{{^isInArray}}
<div class="row my-1">
<div class="col-md-12 {{#isLevel2}}pl-4x {{/isLevel2}}{{#isLevel3}}pl-5 {{/isLevel3}}{{#isLevel4}}pl-5x {{/isLevel4}}{{#isLevel5}}pl-5xx {{/isLevel5}}font-weight-bold text-truncate">{{name}}</div>
</div>
{{/isInArray}}
{{#nestedProperties}}
{{> property}}
{{/nestedProperties}}
{{/isObject}}
{{#isArray}}
<div class="row my-1">
<div class="col-md-12 {{#isLevel2}}pl-4x {{/isLevel2}}{{#isLevel3}}pl-5 {{/isLevel3}}{{#isLevel4}}pl-5x {{/isLevel4}}{{#isLevel5}}pl-5xx {{/isLevel5}}font-weight-bold text-truncate">{{name}}</div>
</div>
{{#objects}}
{{^isFirstObject}}
<div class="row my-1">
<div class="col-md-12 {{#isLevel1}}pl-4x {{/isLevel1}}{{#isLevel2}}pl-5 {{/isLevel2}}{{#isLevel4}}pl-5x {{/isLevel4}}{{#isLevel5}}pl-5xx {{/isLevel5}}object-separator text-truncate">&mdash;&mdash;&mdash;</div>
</div>
{{/isFirstObject}}
{{> property}}
{{/objects}}
{{/isArray}}
{{/hasValues}}
