<div {{microdata}}>
    {{#idAsUrl}}
        <h1 itemprop="name">{{name}}</h1>
        <link href="" {{id.microdata}}/>
        <link href="" itemprop="hasMap"/>
        {{#requestUrl}}
        <link href="{{.}}" itemprop="sameAs"/>
        {{/requestUrl}}
    {{/idAsUrl}}
    {{^idAsUrl}}
        <h4><a href="{{path}}{{id.value}}/" {{id.microdata}}><span itemprop="name">{{name}}</span></a></h4>
    {{/idAsUrl}}
        {{#children}}
            {{> property}}
        {{/children}}
        {{#geo}}
            {{> property}}
        {{/geo}}
</div>