{{> header}}

<div class="container">
    <ul class="list-unstyled">
        {{#features}}
            <li>
                {{> feature}}
            </li>
        {{/features}}
    </ul>
</div>

{{> footer}}