<div {{microdata}}>
    {{#idAsUrl}}
        <h1 itemprop="name">{{id.value}}</h1>
        <link href="" {{id.microdata}}/>
    {{/idAsUrl}}
    {{^idAsUrl}}
        <h4><a href="{{id.value}}" {{id.microdata}}>{{id.value}}</a></h4>
    {{/idAsUrl}}
        {{#children}}
            {{> property}}
        {{/children}}
        {{#geo}}
            {{> property}}
        {{/geo}}
</div>