{{> header}}

<div class="row">
    <div class="col-md-6">
        {{#features}}
            {{> feature}}
        {{/features}}
    </div>
    <div class="col-md-6">
        <div id="map"></div>
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
            var osmTiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            });

            $.getJSON("?f=json", function(data) {
                var geojson = L.geoJson(data);
                var map = L.map('map').fitBounds(geojson.getBounds(), {
                    padding: [50, 50],
                    maxZoom: 16
                });
                osmTiles.addTo(map);
                geojson.addTo(map);
            });



        </script>
    </div>
</div>

{{> footer}}