{{> header}}

<div itemscope itemtype="http://schema.org/Dataset">
    <h1 itemprop="name">{{title}}{{#indexValue}} in {{indexValue}}{{/indexValue}}</h1>
    <span itemprop="description">{{description}}</span>
    <link itemprop="url" href="{{path}}./{{#indexValue}}?{{index}}={{indexValue}}{{/indexValue}}"/>
    <span itemprop="isPartOf" itemscope itemtype="http://schema.org/Dataset">
        <link itemprop="url" href="{{path}}{{^indexValue}}.{{/indexValue}}./"/>
    </span>
    <br/>
    <br/>
    <dl class="dl-horizontal dl-horizontal-space">
        {{^hideMetadata}}
            <dt>Keywords</dt>
            <dd>
            <span itemprop="keywords">
                <ul class="list-comma-separated">
                    {{#keywords}}
                        <li>{{.}}</li>
                    {{/keywords}}
                </ul>
            </span>
            </dd>
            <dt>Extent</dt>
            <dd>
            <span itemprop="spatial" itemscope itemtype="http://schema.org/Place">
                <span itemprop="geo" itemscope itemtype="http://schema.org/GeoShape">
                    <span itemprop="box">{{bbox}}</span>
                </span>
            </span>
            </dd>
            {{#metadataUrl}}
                <dt>Metadata</dt>
                <dd>
            <span itemprop="isPartOf" itemscope itemtype="http://schema.org/DataCatalog">
                <a itemprop="url" href="{{metadataUrl}}" target="_blank">{{metadataUrl}}</a>
            </span>
                </dd>
            {{/metadataUrl}}
        {{/hideMetadata}}
        {{^indexValue}}
        <dt>Browse By</dt>
        <dd>
            {{#index}}
                <span>{{index}}</span>
            {{/index}}
            {{^index}}
                <ul class="list-unstyled">
                    {{#indices}}
                        <li itemprop="hasPart" itemscope itemtype="http://schema.org/Dataset">
                            <a itemprop="url" href="{{path}}{{url}}">{{label}}</a>
                        </li>
                    {{/indices}}
                    {{^indices}}
                        <li>None</li>
                    {{/indices}}
                </ul>
            {{/index}}
        </dd>
        {{/indexValue}}
        {{#indexValue}}
            {{#links}}
                <dt>{{name}}</dt>
                <dd>
                    <ul class="list-unstyled">
                    {{#children}}
                        <li itemprop="citation" itemscope itemtype="http://schema.org/Report">
                            <a itemprop="url" href="{{value.value}}" target="_blank">{{value.name}}</a>
                            <span itemprop="headline" class="hidden">{{value.itemProp}}</span>
                        </li>
                        {{#tooMuch}}
                            </ul>
                            <ul class="list-unstyled collapse" id="collapsed_links">
                        {{/tooMuch}}
                    {{/children}}
                    </ul>
                    {{#children.hasTooMuch}}
                    <ul class="list-unstyled">
                        <li>
                            <a class="collapsed"data-toggle="collapse" data-target="#collapsed_links" href="#collapsed_links">
                                <span class="if-collapsed">... show more</span>
                                <span class="if-not-collapsed">show less</span>
                            </a>
                        </li>
                    </ul>
                    {{/children.hasTooMuch}}
                </dd>
            {{/links}}
        {{/indexValue}}
    </dl>

</div>

<div class="row">
    <div class="col-md-6">

        {{> pagination}}

        <ul class="list-unstyled">
            {{#features}}
                <li>
                    {{> feature}}
                </li>
            {{/features}}
        </ul>

        {{> pagination}}

    </div>
    {{^hideMap}}
        <div class="col-md-6">
            <div id="map"></div>
            <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js" defer></script>
            <script src="/app/js/featureCollection.js" defer></script>
        </div>
    {{/hideMap}}
</div>

{{> footer}}