        </div>

        <footer class="footer bg-light py-4 d-flex flex-column justify-content-around align-items-center">
            {{#htmlConfig}}
            {{#footerText}}
                <div class="container text-muted text-center">
                    {{.}}
                </div>
            {{/footerText}}
            {{/htmlConfig}}
	        <div class="container d-flex flex-row justify-content-between align-items-center w-100">
	        	<span><span class="text-muted small mr-2">powered by</span><a class="navbar-brand" href="https://interactive-instruments.github.io/ldproxy/" target="_blank">ldproxy</a></span>
                <span>
                {{#htmlConfig}}
                {{#legalUrl}}
                    <span><a class="small mr-2" href="{{.}}" target="_blank">{{legalName}}</a></span>
                {{/legalUrl}}
                {{#privacyUrl}}
                    <span><a class="small" href="{{.}}" target="_blank">{{privacyName}}</a></span>
                {{/privacyUrl}}
                {{/htmlConfig}}
                </span>
	        </div>
        </footer>

    </body>
</html>
