<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ldproxy REST Browser</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>

    <style lang="text/css">
        .dl-horizontal dt{
        text-align: left;
        }

        .dl-horizontal-space dd{
        margin-bottom: 1em;
        }
        .dl-horizontal-no-space {
        margin-bottom: 0;
        }
        .list-comma-separated
        {
        padding: 0;
        margin: 0;
        }
        .list-comma-separated li
        {
        display: inline;
        }
        .list-comma-separated li:not(:last-of-type)::after
        {
        content: ", ";
        }
        #map { height: 480px; }
        .breadcrumb > li + li:before {
        content: "\00BB";
        color: #aaa;
        }
        .breadcrumb {
        padding: 0;
        margin: 15px 0;
        background-color: transparent;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        }
        .nav-formats span:first-of-type::before
        {
        content: "View as:\a0\a0\a0";
        }
        .nav-formats span:not(:last-of-type)::after
        {
        content: "\a0|\a0";
        }
        .nav-formats span:not(:last-of-type)
        {
        margin-right: 0;
        }
        .nav-formats span
        {
        margin-left: 0;
        }
        .space-after li {
        margin-bottom: 5em;
        }
    </style>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://github.com/interactive-instruments/ldproxy" target="_blank">ldproxy</a>
    </div>
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ol class="breadcrumb navbar-text">
                {{#data.breadCrumbs}}
                    {{#url}}
                        <li><a href="{{.}}">{{label}}</a></li>
                    {{/url}}
                    {{^url}}
                        <li class="active">{{label}}</li>
                    {{/url}}
                {{/data.breadCrumbs}}
                {{#breadCrumbs}}
                    {{#url}}
                        <li><a href="{{.}}">{{label}}</a></li>
                    {{/url}}
                    {{^url}}
                        <li class="active">{{label}}</li>
                    {{/url}}
                {{/breadCrumbs}}
            </ol>
            <div class="navbar-right nav-formats">
                <!--p class="navbar-text">View as:</p-->
                {{#data.formats}}
                    <span class="navbar-text"><a href="{{url}}" target="_blank">{{label}}</a></span>
                {{/data.formats}}
                {{#formats}}
                    <span class="navbar-text"><a href="{{url}}" target="_blank">{{label}}</a></span>
                {{/formats}}
            </div>
        </div>
    </div>
</nav>

<div class="container">

