<html>
<head>
	<title>ldproxy REST Browser</title>
	<style lang="text/css">
		body {
			font-family: sans-serif;
			font-size: 0.9em;
		}
		a {
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h4>ldproxy</h4>
	<hr/>
	<a href="{{jsonQuery}}" target="_blank" style="font-size: 0.8em;">JSON</a>&nbsp;|&nbsp;<a href="{{xmlQuery}}" target="_blank" style="font-size: 0.8em;">XML</a>
