{{#index}}
    {{#value.children}}
        {{#first}}
            <span {{value.parent.microdata}}>
        {{/first}}
        {{> propertySub}}
        {{#last}}
            </span>
        {{/last}}
    {{/value.children}}
    {{^value.children}}
        <dl class="dl-horizontal dl-horizontal-no-space">
            <dt>{{value.name}}</dt>
            <dd {{value.microdata}}>{{#value.isUrl}}<a target="_blank" href="{{value.value}}">{{value.value}}</a>{{/value.isUrl}}{{^value.isUrl}}{{#value.isImg}}<img src="{{value.value}}" style="max-width:300px"/>{{/value.isImg}}{{^value.isImg}}{{value.value}}{{/value.isImg}}{{/value.isUrl}}</dd>
        </dl>
    {{/value.children}}
{{/index}}
{{^index}}
    {{#children}}
        {{#first}}
            <span {{value.parent.microdata}}>
        {{/first}}
        {{> propertySub}}
        {{#last}}
            </span>
        {{/last}}
    {{/children}}
    {{^children}}
        <dl class="dl-horizontal dl-horizontal-no-space">
            <dt>{{name}}</dt>
            <dd {{microdata}}>{{#isUrl}}<a target="_blank" href="{{value}}">{{value}}</a>{{/isUrl}}{{^isUrl}}{{#isImg}}<img src="{{value}}" style="max-width:300px"/>{{/isImg}}{{^isImg}}{{value}}{{/isImg}}{{/isUrl}}</dd>
        </dl>
    {{/children}}
{{/index}}