<dl class="dl-horizontal dl-horizontal-no-space {{^value.name}}hide{{/value.name}}">
    <dt>{{value.name}}</dt>
    <dd {{value.microdata}}>{{#value.isUrl}}<a target="_blank" href="{{value.value}}">{{value.value}}</a>{{/value.isUrl}}{{^value.isUrl}}{{#value.isImg}}<img src="{{value.value}}" style="max-width:300px"/>{{/value.isImg}}{{^value.isImg}}{{value.value}}{{/value.isImg}}{{/value.isUrl}}</dd>
</dl>