<script type="text/javascript">
    window._ldproxy = {
        map: {
            url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            {{#bbox2}}
            bounds: [[{{minLng}},{{minLat}}],[{{maxLng}},{{maxLat}}]]
            {{/bbox2}}
        },
        fields: {
            {{#filterFields}}
                '{{key}}': '{{value}}',
            {{/filterFields}}
        }
    };
</script>

<script type="text/javascript" src="{{urlPrefix}}/app/js/manifest.8b6f983306e6e903b0c0.js"></script>
<script type="text/javascript" src="{{urlPrefix}}/app/js/vendor.4e11d8129b1d339f9ccf.js"></script>
<script type="text/javascript" src="{{urlPrefix}}/app/js/main.88f8d9d3fe75f1e48711.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
