{{> header}}

<ul class="list-unstyled space-after">
    {{#data}}
    {{#uri}}
    <li itemscope itemtype="http://schema.org/Dataset">
        <h1>
            <a itemprop="url" href="{{path}}{{browseUrl}}">
                <span itemprop="name">{{name}}</span>
            </a>
        </h1>
        <span itemprop="description">{{description}}</span>
    </li>
    {{/uri}}
    {{/data}}
    {{^data}}
    <li>None</li>
    {{/data}}
</ul>

{{> footer}}
