{{#isCesium}}
{{#cesiumData}}

<script type="text/javascript">
globalThis._cesium = {
  getExtent: (Rectangle) => {{ featureExtent }},
  getTileset: (Cesium3DTileset) => new Cesium3DTileset({
    url: 'data:application/json,%7B%22asset%22%3A%7B%22version%22%3A%221.1%22%7D%2C%22geometricError%22%3A5000%2C%22root%22%3A%7B%22boundingVolume%22%3A%7B%22region%22%3A%5B{{{encodedRegion}}}%5D%7D%2C%22refine%22%3A%22REPLACE%22%2C%22geometricError%22%3A0%2C%22content%22%3A%7B%22uri%22%3A%22{{{encodedUrl}}}%22%7D%7D%7D',
  }),
  getStyle: (Cesium3DTileStyle) => new Cesium3DTileStyle({
    color: {
      conditions: [
        ["${feature['surfaceType']} === 'roof'", "color('red')"],
        ["${feature['surfaceType']} === 'ground'", "color('grey')"],
        ["true", "color('white')"],
      ],
    },
  }),
}
</script>

{{/cesiumData}}
{{/isCesium}}