{{#schemaOrgFeatures}}{{#features}}{{#schemaOrgItemType}}<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "{{schemaOrgItemType}}",
  "name": "{{name}}",
  "url": "{{#ProcessedCurrentUrlWithSegmentClearParams}}{{idValue}}{{/ProcessedCurrentUrlWithSegmentClearParams}}"{{#ProcessedPersistentUri}},
  "sameAs": "{{.}}"{{/ProcessedPersistentUri}}{{#geoAsString}},
  "geo": {{{.}}}{{/geoAsString}}{{#properties}}{{#itemProp}},
  "{{.}}": "{{{getFirstValue}}}"{{/itemProp}}{{/properties}}
}
</script>{{/schemaOrgItemType}}
{{/features}}{{/schemaOrgFeatures}}
{{#isApiCatalog}}<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "DataCatalog",
  "name": "{{title}}",
  "description": "{{{description}}}",
  "url": "{{ProcessedCanonicalUrl}}",
  "dataset": [{{{datasetsAsString}}}]
}
</script>{{/isApiCatalog}}

{{#isDataset}}{{#ProcessedSchemaOrgDataset}}<script type="application/ld+json">
{{{.}}}
</script>{{/ProcessedSchemaOrgDataset}}{{/isDataset}}

{{#hasBreadCrumbs}}<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{{ProcessedBreadCrumbsList}}}
  ]
}
</script>{{/hasBreadCrumbs}}