<script type="text/javascript">
    window._ldproxy = {
        map: {
            {{#htmlConfig}}
            url: '{{{leafletUrl}}}',
            attribution: '{{{leafletAttribution}}}'
            {{/htmlConfig}}
            {{#bbox}}
            ,bounds: [[{{minLat}},{{minLng}}],[{{maxLat}},{{maxLng}}]]
            {{/bbox}}
        },
        ol_map: {
            {{#htmlConfig}}
            url: '{{{openLayersUrl}}}',
            attribution: '{{{openLayersAttribution}}}'
            {{/htmlConfig}}
            {{#bbox}}
            ,extent: [{{minLng}},{{minLat}},{{maxLng}},{{maxLat}}]
            {{/bbox}}
        },
        time: {
            {{#temporalExtent}}
            start: {{#start}}{{.}}{{/start}}{{^start}}0{{/start}},
            end: {{#end}}{{.}}{{/end}}{{^end}}Date.now(){{/end}}
            {{/temporalExtent}}
         },
        fields: {
            {{#filterFields}}
                '{{key}}': '{{value}}',
            {{/filterFields}}
        },
        extensions: {
            spatialSearch: {{spatialSearch}}
        }
    };
</script>

