/**
 * Copyright 2017 interactive instruments GmbH
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
.list-comma-separated
{
padding: 0;
margin: 0;
}
.list-comma-separated li
{
display: inline;
}
.list-comma-separated li:not(:last-of-type)::after
{
content: ", ";
}

.list-separated li
{
display: inline;
}
.list-separated li a
{
padding-left: 4px;
}
.list-separated li:not(:last-of-type) a
{
padding-right: 4px;
}
.list-separated li:not(:last-of-type)::after
{
content: "|";
}

#map { height: 480px; }

.nav-formats span:not(:last-of-type)
{
border-right: 1px solid #e7e7e7;
}
.space-after li {
margin-bottom: 5em;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}