{{> header}}

<div>
    <h1>{{title}}</h1>
    <span>{{{description}}}</span>
    <br/>
    <br/>
</div>

<div id="app-wrapper" class="mb-5">
<div class="row mb-3">
<div class="col-md-3 font-weight-bold py-1">
Filter
</div>
</div>
</div>

{{#classic}}
    <div class="row">
        <div class="col-md-6">

            {{> pagination}}

            <ul class="list-unstyled">
                {{#features}}
                    <li>
                        {{> feature}}
                    </li>
                {{/features}}
            </ul>

            {{> pagination}}

        </div>
        {{^hideMap}}
            <div class="col-md-6">
                <div id="map"></div>
            </div>
        {{/hideMap}}
    </div>
{{/classic}}

{{#complexObjects}}
    {{^hideMap}}
        <div class="row">
            <div class="col-md-12">
                {{> pagination}}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
        <br/>
    {{/hideMap}}

    <div class="row">
        <div class="col-md-12">

            {{> pagination}}

            <ul class="list-unstyled">
                {{#features}}
                    <li>
                        {{> feature}}
                    </li>
                {{/features}}
            </ul>

            {{> pagination}}

        </div>
    </div>
{{/complexObjects}}

{{> script}}

<script src="{{urlPrefix}}app/js/featureCollection.js"></script>

{{> footer}}
