{{> header}}

<div>
    <h1>{{title}}</h1>
    <div class="row my-1">
        <div class="col-md-12">{{{description}}}</div>
    </div>
    <br/>

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{collectionsTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#collections}}
                    <li>
                        <a href="{{hrefitems}}">{{title}}</a> <small>— <a href="{{hrefcollection}}">{{moreInformation}}</a></small>
                        {{#description}}<ul class="list-unstyled">
                            <li class="list-group-item pt-0 pb-2 small text-secondary" style="border: none">{{{.}}}</li>
                        </ul>{{/description}}
                    </li>
                {{/collections}}
                {{^collections}}
                    <li>{{none}}</li>
                {{/collections}}
            </ul>
        </div>
    </div>

    {{#hasLicense}}
    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{licenseTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#licenseLinks}}
                    <li>
                        <a href="{{href}}">{{title}}</a>
                    </li>
                {{/licenseLinks}}
                {{^licenseLinks}}
                    <li>{{none}}</li>
                {{/licenseLinks}}
            </ul>
        </div>
    </div>
    {{/hasLicense}}

    {{#hasDownload}}
    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{downloadTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#downloadLinks}}
                    <li>
                        <a href="{{href}}">{{title}}</a>
                    </li>
                {{/downloadLinks}}
                {{^downloadLinks}}
                    <li>{{none}}</li>
                {{/downloadLinks}}
            </ul>
        </div>
    </div>
    {{/hasDownload}}

    {{#hasMetadata}}
        <div class="row my-3">
            <div class="col-md-2 font-weight-bold">{{metadataTitle}}</div>
            <div class="col-md-10">
                <ul class="list-unstyled">
                    {{#metadataLinks}}
                        <li>
                            <a href="{{href}}">{{title}}</a>
                        </li>
                    {{/metadataLinks}}
                    {{^metadataLinks}}
                        <li>{{none}}</li>
                    {{/metadataLinks}}
                </ul>
            </div>
        </div>
    {{/hasMetadata}}

    <h2>{{expertInformationTitle}}</h2>

    {{#hasGeometry}}
    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{supportedCrsTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#crs}}
                    <li>
                        <a href="{{.}}">{{.}}</a>
                    </li>
                {{/crs}}
                {{^crs}}
                    <li>
                        <a href="http://www.opengis.net/def/crs/OGC/1.3/CRS84">http://www.opengis.net/def/crs/OGC/1.3/CRS84</a>
                    </li>
                {{/crs}}
            </ul>
        </div>
    </div>
    {{/hasGeometry}}

    <div class="row my-3">
        <div class="col-md-2 font-weight-bold">{{additionalLinksTitle}}</div>
        <div class="col-md-10">
            <ul class="list-unstyled">
                {{#links}}
                    <li>
                        <a itemprop="url" href="{{href}}">{{title}}</a>
                    </li>
                {{/links}}
                {{^links}}
                    <li>{{none}}</li>
                {{/links}}
            </ul>
        </div>
    </div>

</div>

{{> footer}}
