//@import 'xtraplatform.defaults';
@import '~grommet/scss/vanilla/vanilla.defaults';
@import '~grommet/scss/grommet-core/index';
@import '~grommet/scss/vanilla/objects.button-vanilla';
@import '~xtraplatform-manager/src/scss/default/xtraplatform.objects';

