<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  {{#keywords}}
    <meta name="keywords" content="{{.}}">
  {{/keywords}}

  {{#canonicalUrl}}<link rel="canonical" href="{{.}}"/>{{/canonicalUrl}}

  <link
      rel="stylesheet"
      href="https://openlayers.org/en/v6.14.1/css/ol.css"
  />
  <link href="{{urlPrefix}}/ogcapi-crud/assets/style.89c397b4.css" rel="stylesheet">
</head>

<body style="height: 100vh;">

<div id="map" class="w-full h-full">
</div>

{{> mapClient2}}

<script src="https://openlayers.org/en/v6.14.1/build/ol.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4.min.js"></script>
<script src="{{urlPrefix}}/ogcapi-crud/assets/ol-ogc-api-crud.eb4708df.umd.js"></script>

<script type="text/javascript">

proj4.defs(
  "EPSG:25832",
  "+proj=utm +zone=32 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs"
);
ol.proj.proj4.register(proj4);
ol.proj.get("EPSG:25832").setExtent([
  -46133.17, 5048875.268576, 1206211.101424, 6301219.54,
]);

const query = new URLSearchParams(window.location.search);

class LogoutControl extends ol.control.Control {
  constructor(opt_options) {
    const options = opt_options || {};

    const button = document.createElement('button');
    button.innerHTML = 'Logout';
    button.style = 'width: 4em;';

    const element = document.createElement('div');
    element.className = 'ol-unselectable ol-control';
    element.style = 'top: .5em; right: .5em; width: 4.4em;';
    element.appendChild(button);

    super({
      element: element,
      target: options.target,
    });

    button.addEventListener('click', this.handleLogout.bind(this), false);
  }

  handleLogout() {
    /*fetch('https://wso2.ldproxy.net/oidc/logout', {
      method: 'POST',
      headers: {
         'Content-Type': 'application/x-www-form-url-encoded',
      },
      body: 'consent=approve&id_token_hint=' + query.get('code')
    })
    //fetch('https://wso2.ldproxy.net/authenticationendpoint/oauth2_logout.do?tenantDomain=carbon.super')
    .then(() => {
      window.location.search = '';
    });*/
    {{#logoutUrl}}
      window.location.href = '{{{.}}}';
    {{/logoutUrl}}
  }
}

const collectionId = Object.keys(globalThis._map.dataLayers)[0];

const backgroundUrl = globalThis._map.backgroundUrl.indexOf("{s}")
    ? globalThis._map.backgroundUrl.replace(/\{s\}/, "{a-c}")
    : globalThis._map.backgroundUrl;

var map = new ol.Map({
  target: "map",
  layers: [
    new ol.layer.Tile({
      source: new ol.source.XYZ({
        attributions: `${globalThis._map.attribution}`,
        url: `${backgroundUrl}`,
      }),
    }),
  ],
  view: new ol.View({
    center: ol.proj.transform(ol.extent.getCenter(globalThis._map.bounds.flat(1)), "EPSG:4326", "EPSG:25832"),
    zoom: 4,
    projection: "EPSG:25832",
  }),
});
map.addControl(new LogoutControl());

const ogcApiEditor = new OgcApiEditor({
  api: {
    url: globalThis._map.dataUrl,
    collections: [collectionId],
    crs: "http://www.opengis.net/def/crs/EPSG/0/25832",
    schemas: {
      custom: "schema",
    },
    //token: query.get('access_token')
  },
  tools: {
    create: true,
    edit: true,
    position: {
      top: "5rem",
      left: "0.5rem",
    },
  },
});
ogcApiEditor.addToMap(map);


</script>


</body>

{{> htmlEnd}}
